@import "tailwindcss";

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.markdown-body {
  @apply text-sm leading-relaxed;
}

.markdown-body p {
  @apply mb-4 last:mb-0;
}

.markdown-body ul, .markdown-body ol {
  @apply mb-4 ml-4 list-disc;
}

.markdown-body li {
  @apply mb-1;
}

